<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MySqlConnection"
			 connectionString="server=localhost;port=3306;database=sansu_payroll_db;uid=root;pwd=;SslMode=none;ConvertZeroDateTime=true;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>