<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SansuPayrollSystemManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="MySqlConnection" connectionString="server=localhost;port=3306;database=sansu_payroll_db;uid=root;pwd=;SslMode=none;ConvertZeroDateTime=true;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SansuPayrollSystemManagement.Properties.Settings>
      <setting name="SavedUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
    </SansuPayrollSystemManagement.Properties.Settings>
  </userSettings>
</configuration>